@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans TC" ,"PT Sans" , sans-serif;

  --color-primary: #4F61FF;
  --color-primary-hover: #3B4CEB;
  --color-text-main: #000000DE;
  --color-text-sub: #00000098;
  --color-neutral-main: #FFFFFF;
  --color-neutral-sub: #FFFFFFDE;
}

@layer components {
  .material-icons {
    font-size: inherit;
    vertical-align: middle;
  }
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}